# dbt
data_products/whitegoods_inventory/dbt/whitegoods_inventory/target/
data_products/whitegoods_inventory/dbt/whitegoods_inventory/dbt_packages/
data_products/whitegoods_inventory/dbt/whitegoods_inventory/logs/
data_products/whitegoods_inventory/dbt/whitegoods_inventory/venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars
.terraform.lock.hcl

# Lambda build artifacts
lambda/**/.venv/
lambda/**/__pycache__/
**/*.zip

# IDE
.vscode/
.idea/

# General
.env
.DS_Store
